.git
.github
.pytest_cache
.ruff_cache
.venv
**/__pycache__
**/*.pyc
**/.DS_Store
**/node_modules
**/dist
**/.env
**/.env.local
*.db
*.sqlite3
storage
ml/artifacts
mlflow-artifacts
htmlcov
.coverage
logs
pgdata
